.mat-elevation-z8 {
    table {
        width: 100%;
    }
}

.color-title {
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
}

.btn1{
    justify-content: right;
    display: flex;
    margin-right: 0.5%;
}

.btn2{
    justify-content: right;
    display: flex;
    margin-right: 0.5%;
}

